
/* Common */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}


.container{
    width: 1200px;
    margin: 20px auto;
}

/* Debug header */

.debug header{
    height: 100px;
    background-color: #E579E6;
}

.debug .logo{
    height: 60%;
    background-color: rgba(109, 3, 100, 0.438);
}

.debug .site_nav{
    height: 32px;
    background-color: rgb(168 0 0 / 21%);
}

/******* Debug main ****/

.debug main{
    height: 1160px;
}

/* Debug content_img */
.debug .content_img{
    background-color: #cebb13;
}

.debug .content_img > .text_img{
    height: 20%;
    background-color: rgb(226 0 0 / 23%);
}

/* Debug page_article */
.debug .page_article{
    height: 400px;
    background-color: rgba(180, 36, 36, 0.432);
}

.debug .title_article{
    height: 50px;
    background-color: #ABCFE7;
}

.debug .content_article{
    height: 350px;
    background-color:  #ABCFE7;
}

.debug aside{
    height: 350px;
    background-color:  #ABCFE7;
}

.debug aside > .img_aside{
    background-color: #ff00d942;
}

.debug aside > .text_aside{
    height: 55%;
    background-color: #ff000042;
}

.debug .content{
    background-color: #ABCFE7;
}

.debug .content > .img_content_article{
    height: 35%;
    background-color: #ff00d942;
}

.debug .content > .text_content_article{
    height: 55%;
    background-color:  #ff000042;
}

/* Debug Footer */
.debug footer{
    height: 100px;
    background-color:#8801FE;
}

.debug footer > .designed{
    height: 80%;
    background-color: #d4c0ff99;
    }
/*****************Header ****************/
header{
    border-bottom: 20px solid white;
}

.logo{
    width: 100px;
    padding-right: 10px;
    border-right:2px solid lightgrey ;
}

.logo > img{
    max-width: 100%;
}

.site_nav{
    width: 1200px;
    text-align: center;
}

.site_nav > a{
    margin: 0 10px;
    text-decoration: none;
    color: lightgray;
}


/************* Main ***************/

.content_img{
    width: 100%;
    height: 670px;
    margin-bottom: 20px;
    position: relative;
}

.content_img > img{
    width: 100%;
    filter: brightness(85%);
    border-radius: 30px;
}

.content_img > .text_img{
    color: white;
    width: 50%;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

/* Article */

/* Content article */
.content_article{
    width: 100%;
}

/* Aside */
aside{
    width: 23%;
    float: left;
    margin: 20px 0;
}

aside > .img_aside{
    width: 100%;
}

.img_aside > img{
    width: 100%;
    height: 200px;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
    filter: brightness(85%);
}

aside > .text_aside{
    width: 90%;
    margin: 10px auto;
}

/* Content */
.content{
    width: 50%;
    float: left;
    margin: 10px 2%;
}

.content > .img_content_article{
    margin: 10px auto;
}

.img_content_article > img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    filter: brightness(85%);
}

.content > .text_content_article{
    width: 95%;
    margin: 10px auto;
}

/************* Footer ***********/
footer{
    border-top: 10px solid white;
}

footer > .designed{
    width: 15%;
    margin: 8px auto;
}

footer span{
    color: red;
}

